@media only screen and (min-width: 992px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  nav {
    background-color: #fff;
    padding: 0 50px;
  }
  nav ol a {
    color: #555;
  }
  #banner h1 {
    color: #fff;
  }
  #banner p {
    color: #fff;
    margin: 0;
  }
  html {
    background-color: rgb(216, 214, 214);
  }
  footer {
    background-color: rgb(228, 228, 228);
  }
  #hr {
    display: none;
  }
  footer h3 {
    font-size: 24px;
  }
}
