* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  width: 100%;
}

/* begin:header */
nav {
  display: flex;
  position: fixed;
  top: 0;
  right: 0px;
  left: 0px;
  height: 50px;
  justify-content: space-between;
  z-index: 1;
}
nav .nav-left {
  display: flex;
}
nav .nav-right {
  display: flex;
}
nav ol li {
  display: inline-block;
}
nav ol li a {
  display: block;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 15px;
}
nav ol li:hover a {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
}
/* end:header */

/* begin:banner */
#banner {
  position: relative;
  margin-top: 50px;
}
#banner img {
  width: 100%;
  height: auto;
}
#banner h1 {
  font-family: "Tiro Devanagari Sanskrit", serif;
}
.banner-content {
  position: absolute;
  color: #fff;
  top: 35%;
  margin-left: 50px;
  font-size: 20px;
}
/* end:banner */

/* begin:main */
#main {
  width: 100%;
}
#main .main-header {
  margin-left: 50px;
  padding: 30px 0px 15px 0px;
  line-height: 30px;
  color: #333;
}

#main .main-image {
  display: flex;
  margin: 0px 35px;
}

#main img {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 30px;
}

#main .main-image .main-collumn {
  padding: 0px 15px;
  float: left;
}
/* end:main */

/* begin:footer */
footer {
  display: flex;
  padding: 30px 35px 50px;
}

.footer-collumn {
  margin-top: 15px;
  padding: 0px 15px;
  float: left;
}

.footer-collumn p {
  padding: 10px 0px;
}

.footer-collumn a {
  text-decoration: none;
  color: rgb(0, 194, 194);
}

.footer-collumn a:hover {
  color: rgb(102, 0, 102);
}
/* end:footer */
